{
	"presets": [
		[
			"@babel/preset-env",
			{
				"bugfixes": true,
				"modules": false
			}
		],
		[
			"@babel/preset-typescript",
			{
				"onlyRemoveTypeImports": true
			}
		],
		"@babel/preset-react"
	],
	"plugins": [
		"@babel/proposal-class-properties"
	]
}
